@import url('https://fonts.googleapis.com/css2?family=Inter&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;1,200;1,300;1,400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

img {
  user-select: none;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  overflow: hidden;
}

#canvas-div {
  height: 100vh;
  width: 100%;
}

#canvas {
  height: 100%;
  width: 100%;
  background: #535bf2;
}

h1 {
  font-size: 8vh;
  line-height: 1.1;
}


h2 {
  font-size: 3vh;
  line-height: 1.1;
  font-weight: 300;
  font-style: italic;
}

/*LOADER*/
.loader-page {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url("/static/images/background.png") no-repeat center;
  background-size: cover;

  transition: transform 1s ease-in-out;
}

.loader-content {
  background: url("/static/images/cover.png") no-repeat center;
  background-size: cover;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-around;
}

.loader-title {
  margin-left: 2%;
  margin-top: 3%;
  /*margin-top: 10%;*/
  width: 50%;
}

.loader-title::after {
  content: '';
  display: block;
  border-bottom: 2px solid #af2fa4;
  margin-bottom: 10px;
  width: 47%;
}

.loader-subtitle {
  margin-left: 2%;
  width: 50%;
  color: #af2fa4;
}

.loader-btn {
  background: #50b2a9;
  color: #F4F6FC;
  border-radius: 50%;
  height: 3vh;
  width: 3vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loader-btn-img {
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.loader-text {
  width: 50%;
  border-radius: 10px;
}

.loader-footer {
  width: 55%;
  height: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  margin: 2% 2% 3% 2%;
}

.loader-paragraph {
  color: #2B4754;
  font-size: 2.5vh;
  height: 100%;
  margin-top: 1.5vh;
  display: flex;
  align-items: center;
  font-weight: 400;
}

.loader-paragraph::before {
  content: '\2022';
  color: #3E545F;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.loader-btn-loading {
  background: #8c8c8c;
}

.loader-btn-img-loading {
  width: 150%;
  height: 150%;
  animation: spin 3s ease-in-out infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.links {
  width: 20%;
  height: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2%;
}

.links-link{
  width: 3vh;
  height: 3vh;
  padding: 3px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.link-icon {
  width: 90%;
  height: 90%;
  object-fit: cover;
}

#twitter-icon, #mail-icon {
  width: 80%;
  height: 80%;
}
#ld-icon, #git-icon {
  width: 110%;
  height: 110%;
}

#ld-icon {
  background: #0A66C2;
}

#git-icon {
  background: black;
}

#twitter-icon {
  background: black;
}

#mail-icon{
  background: #c75050;
}

#mail-icon-container {
  background: #c75050;
  border: 1px solid #c75050;
}

#ld-icon-container {
  background: #0A66C2;
  border: 1px solid #0A66C2;
}

#git-icon-container {
  background: black;
  border: 1px solid black;
}

#twitter-icon-container {
  background: black;
  border: 1px solid black;
}

.loader-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-text p {
  margin: 2px;
  user-select: none;
}

#loading-ready {
  color: #2db494;
  user-select: none;
}


/*!*GAME*/
.main-page {
  transition: transform 1s ease-in-out;
}
.translated-left {
  transform: translateX(-100%);
}
.translated-right {
  transform: translateX(100%);
}
/* header */

.header {
  position: absolute;
  width: 300px;
  height: 5vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.return-btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  padding: 2px;
  background: #282828;
  border-radius: 0 0% 50% 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  cursor: pointer;
  z-index: 101;
}
.return-btn-img {
  height: 50%;
  width: 50%;
  transform: rotate(180deg);
}

.header .image-container {
  box-sizing: border-box;
  margin: 0 3%;
  width: 25px;
  height: 25px;
  padding: 4px;
  border-radius: 50%;
  background: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header img {
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

/*Text Module */

.text-module {
  position: absolute;
  width: 33.33vw;
  height: 33.33vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(239, 239, 239, 0.9);
  border: 2px solid #7d7d7e;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 3%;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.text-module p {
  color: #757575;
  margin-bottom: 10px;
  font-size: 2.1vh;
}

#close-btn-id {
  margin: 0 auto;
  padding: 7px 15px;
  background-color: #6c6c6c;
  color: #e5e5e5;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#play-btn-id {
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #a537ff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-module h1 {
  margin: 0;
  text-align: center;
  padding: 10px;
}

.hidden {
  display: none !important;
}

.unclickable {
  pointer-events: none;
  filter: grayscale(100%);
}

/*animation block*/

.animation-block {
  width: 4vh;
  height: 4vh;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
  opacity: 0;
}

.play-animation {
  animation: scaleAnimation 0.7s ease-in-out forwards;
}

@keyframes scaleAnimation {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }

  50% {
    opacity: 1;
    transform: scale(2, 2);
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    transform: scale(1, 1);
    cursor: pointer;
  }
}

/*sound*/

.sound-checker {
  width: 55px;
  height: 27px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sound-div {
  position: absolute;
  bottom:0;
  right: 0;
}
.sound-name {
  position: absolute;
  transform: translate(20%, -150%);

  width: 60px;
  font-size: 13px;
  display: inline-block;

  color: #b6b6b6;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border: 1px solid #a4a4a4;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #a4a4a4;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: transparent;
  border: 1px solid #2db494;
}

input:checked + .slider:before {
  background-color: #2db494;
  transform: translateX(26px);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.sound-on {
  color: #a0c5bc !important;
  transform: translate(10%, -150%) !important;
}

/* music */
.music-div {
  position: absolute;
  bottom:0;
  left: 0;
}

.music-on {
  color: #a0c5bc !important;
}

.default-name {
  transform: translate(10%, -150%) !important;
}

/*scenarios */
.scenarios {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  width: 150px;
}

.weather-scenarios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.weather-scenario {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20px;
  overflow: hidden;
  border: 2px solid #313131;
  background: #313131;
  padding: 3px;
  border-radius: 50%;
  cursor: pointer;
}

.weather-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.daytime-checker {
  width: 55px;
  height: 27px;
  margin: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.daytime-scenarios {
  position: absolute;
  bottom: 0;
}

#day-night-checker-id:checked + .slider:before {
  background: #ccbba4;
}

#day-night-checker-id:checked + .slider {
  background: #44485b;
  border: 1px solid #000000;
}

#day-night-checker-id + .slider:before {
  background: #fde023;
}

#day-night-checker-id + .slider {
  background: #6c90ff;
  border: 1px solid #0034cb;
}

#day-night-checker-id {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: #af1919;
  -webkit-transition: .4s;
  transition: .4s;
}

.weather-checked {
  border: 1px solid #2db494;
  box-shadow: 0px 0px 5px 5px rgba(45, 180, 148, 0.20);
}

.modal-checked {
  border: 2px solid #9c21cc;
  box-shadow: 0px 0px 5px 5px rgba(156, 33, 204, 0.20);
}

/*Training*/
.training {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(63, 63, 63, 0.72);
  z-index: 100;
  color: white;
  user-select: none;
  font-size: 2.1vh;
}

.training {
  font-weight: lighter;
}

.about-objectives {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 50vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transform: translate(-50%, 0);
  text-align: justify;
}

.about-scenarios {
  position: absolute;
  bottom: 5%;
  left: 50%;
  width: 50vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transform: translate(-50%, 0);
  text-align: justify;
}

.about-sounds {
  position: absolute;
  bottom: 5%;
  right: 0;
  width: 15vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transform: translate(0, 0);
  text-align: center;
}

.about-back {
  position: absolute;
  top: 5%;
  left: 0;
  width: 15vh;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transform: translate(0, 0);
  text-align: center;
}

.about-game {
  position: absolute;
  bottom: 50%;
  left: 50%;
  width: 40%;
  height: 40%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  transform: translate(-50%, 50%);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-game p::before {
  content: '\2022';
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.about-game a{
  color: white;
}

.about-move {
  position: absolute;
  bottom: 5%;
  left: 0;
  width: 15%;
  height: 20%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-move p::before {
  content: '\2022';
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.about-fireflies {
  position: absolute;
  top: 5%;
  right: 0;
  width: 20%;
  height: 50%;
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.about-fireflies p::before {
  content: '\2022';
  color: #ffffff;
  display: inline-block;
  width: 1em;
  margin-right: 0.5em;
}

.location-option {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.location-btn {
  background: #f9f9f9;
  padding: 2px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.location-btns {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.accept-btn {
  background: #1c8168;
  color: #f9f9f9;
}

.decline-btn {
  background: #505050;
  color: #f9f9f9;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
